@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.8rem;
    color: #FFFFFF;
    background-color: #1E1E1F;
}

main > div > div {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.8rem;
}

div.benefits > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.benefits i {
    width: 15%;
    margin-right: 0.9rem;
    font-size: 3.6rem;
    text-align: center;
    color: #FACB0F;
}

div.benefits p {
    width: 85%;
    font-size: 2.4rem
}

div#ofert {
    display: flex;
}

div.ofert-options {
    width: 33.33%;
    margin: 0 1.8rem;
    border-radius: 25px 25px;
    background-color: #707070;
    box-shadow: 0px 5px 10px #FACB0F50;
}

div.ofert-options img {
    max-width: 75%;
    margin-top: 1.8rem;
}

div.ofert-options p {
    font-size: 2.2rem;
}

div.ofert-options-title {
    padding: 1.8rem;
    text-align: center;
    background-color: #474747;
    border-radius: 25px 25px 0 0;
}

div.ofert-options-content {
    padding: 1.8rem;
    text-align: center;
}

div.ofert-options-content i {
    font-size: 1.4rem;
}

div#ofert-scroll {
    background-color: #292929;
    padding-bottom: 3.6rem;
}

div#faq summary {
    background-color: #666666;
    padding: 10px;
    border-radius: 15px;
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0px 6px 9px #00000050;
}

div#faq p {
    margin: 1.8rem 2.8rem 3.6rem 2.8rem;
}

div#guarantee img {
    margin-top: 3.6rem;
}

footer {
    margin: 1.8rem;
    background-color: #28282A;
}

footer > div {
    max-width: 800px;
    margin: 0 auto;
    padding: 1.8rem;
    font-size: 1.4rem;
    text-align: center;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer a {
    display: block;
    margin: 0 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

img#img1 {
    margin-top: 3.6rem;
}

img.imgstyle1 {
    margin: 1.8rem auto 3.6rem auto;
    border-radius: 15px;
    box-shadow: 0px 6px 9px #00000050;
}

img.imgstyle2 {
    margin: 3.6rem auto 3.6rem auto;
    border-radius: 15px;
    box-shadow: 0px 6px 9px #00000050;
}

img.imgstyle3 {
    margin: 3.6rem auto 1.8rem auto;
    border-radius: 15px;
    box-shadow: 0px 6px 9px #00000050;
}

h1 {
    margin: 0.5em 0 0.5em 0;
    font-size: 3.6rem;
    text-align: center;
    text-shadow: 0px 3px 9px #FACB0F;
}

h2 {
    margin: 1.8rem 0;
    font-size: 3.2rem;
    text-align: center;
}
 
h2#h2img1 {
    margin-top: -5rem;
}

h2#guarantee {
    margin-top: -7.5rem;
}

h2 u {
    text-decoration-color: #FACB0F;
    text-shadow: none;
}

h3 {
    margin: 2em 0 0.5em 0;
    font-size: 2.8rem;
}

h4 {
    margin: 1.8rem 0;
    font-size: 2.8rem;
    line-height: 1;
}

p i {
    font-size: 1.2rem;
}

a.btn-scroll {
    display: block;
    margin: 3.6rem 0 1.8rem 0;
    padding: 15px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #17ab0a;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #17ab0a;
}

a.btn-ofert {
    display: block;
    margin: 1.8rem 0 1.8rem 0;
    padding: 10px;
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 3px 3px #44444450;
    color: #FFFFFF;
    background-image: linear-gradient(rgb(101, 250, 15), #17ab0a);
    border-radius: 15px;
    box-shadow: 0px 5px 5px #44444450;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.tcenter {
    text-align: center;
}

.benefits p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.price-before {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
}

.price-before s {
    text-decoration-color: #DB162F;
}

.price-after {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.2;
    color: #FACB0F;
    text-shadow: 0px 0px 5px #FACB0F80;
}

.ofert-content-principal b {
    font-size: 3rem;
    line-height: 1;
}

.frete-info {
    margin: 1.8rem 0;
}

.frete-info img {
    margin: 0 auto !important;
}

.roundimage {
    margin: 3.6rem auto 1.8rem auto;
    border-radius: 50%;
    border: solid 4px #FACB0F;
    box-shadow: 0px 5px 10px #FACB0F;
}

.yellow {
    color: #FACB0F;
}

.graybg {
    background-color: #292929;
}

/* + Depoimentos */

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.image-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.image-slider::-webkit-scrollbar {
    display: none;
}

.card-slider {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.slider-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 800px) {
    footer nav {
        flex-direction: column;
    }

    div#ofert {
        flex-direction: column;
    }

    div.ofert-options {
        width: 100%;
        margin: 1.8rem 0;
    }
}

@media (max-width: 500px) {
    div#div1 {
        background-image: url(media/bg1mob.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    div#mestrexi {
        background-image: url(media/bg2mob.webp);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover; 
    }

    div#ajustavel {
        background-image: url(media/pixiu.webp);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover; 
    }

    div#guarantee {
        background-image: url(media/bg3mob.webp);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover; 
    }
}

@media (min-width: 500px) {
    div#more-depoiments {
        display: none;
    }
}

/* atualizações 08.08 */

div#novo-depoimento iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
